body {
    background: linear-gradient(to bottom, #333240, black);
    color: white; /* White text for readability */
}

.page-margin {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right:100px;
}

/* ------------------------------------ HEADERS ------------------------------------ */
h1 {
    margin-top: 20px;
    color: white;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
}

h2 {
    color: #cfb87c; /* Red color for headings */
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

/* ------------------------------------ NAVIGATION BAR ------------------------------------ */
/* Custom CSS to make the navbar transparent */
.navbar {
    background-color: transparent; /* Light transparent white */
    backdrop-filter: blur(10px); /* Optional: Adds a blur effect to the background */
}

.navbar a.navbar-brand {
    color: white; /* Ensure the text is readable on the transparent background */
}

.nav-link {
    color: #cfb87c;
}

.nav-link:hover {
    color: #d1a330;
}

/* styles.css */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-outline-primary {
    border-radius: 20px;
    padding: 0.5rem 1rem;
}

/* ------------------------------------ BUTTONS ------------------------------------ */
.btn-outline-primary {
    border-color: #cfb87c; /* #cfb87c border */
    color: #cfb87c; /* #cfb87c text */
}

.btn-outline-primary:hover {
    background-color: #cfb87c; /* #cfb87c background on hover */
    border-color: #cfb87c;
    color: BLACK; /* White text when hovered */
}

/* footer image -- ensure it always fits the size of the webpage */
img.img-responsive {
    width: 100%;  /* Makes the image fill the full width of its container */
    height: 100%;
    display: block; /* Removes the small gap below the image */
}