{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Film Project</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Film Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-sm bg-body-tertiary">
        <div class="container-fluid">
          <img height="100" src="{% static 'images/mlm2_logo.png' %}" />
          {% comment %}TODO: FIX this isn't working right, it is unusable on a phone
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarNav">
            {% endcomment %}
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'search_movies' %}">Search API</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'popular_movies' %}">Popular API</a>
              </li>
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                  <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="nav-link" type="submit">Logout</button>
                    <!--<a class="nav-link" href="{% url 'logout' %}">Logout</a>-->
                  </form>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      {% block content %}

      {% endblock %}
    </div>
  </body>
</html>
