{% extends 'filmproject/base_template.html' %}

{% block content %}
    <div class="container text-center">
        <h1>Rate Movies</h1>

        <div class="row justify-content-center">
            <!-- row for titles -->
            <div class="col-md-5">
                <h3>{{ movie1.title }}</h3>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <h3>{{ movie2.title }}</h3>
            </div>
        </div>

        <div class="row justify-content-center">
            <!-- Row for images with uniform dimensions and yellow border -->
            <div class="col-md-5 movie-poster">
                <form method="POST" action="{% url 'compare_movies' %}">
                    {% csrf_token %}
                    <input type="hidden" name="selected_movie" value="{{ movie1.id }}">
                    <!-- Make the image a clickable button -->
                    <button type="submit" class="image-button" style="border: none; background: none; padding: 0;">
                        <img src="https://image.tmdb.org/t/p/w300/{{ movie1.poster_path }}" alt="Poster for {{ movie1.title }}" class="img-fluid">
                    </button>
                </form>
            </div>
            <!-- Can't Decide button -->
            <div class="col-md-2">
                <form method="POST" action="{% url 'compare_movies' %}">
                    {% csrf_token %}
                    <input type="hidden" name="selected_movie" value="can't_decide">
                    <button type="submit" class="btn btn-warning">Can't Decide</button>
                </form>
            </div>
            <div class="col-md-5 movie-poster">
                <form method="POST" action="{% url 'compare_movies' %}">
                    {% csrf_token %}
                    <input type="hidden" name="selected_movie" value="{{ movie2.id }}">
                    <!-- Make the image a clickable button -->
                    <button type="submit" class="image-button" style="border: none; background: none; padding: 0;">
                        <img src="https://image.tmdb.org/t/p/w300/{{ movie2.poster_path }}" alt="Poster for {{ movie2.title }}" class="img-fluid">
                    </button>
                </form>
                <!-- Button for more info -->
            </div>
        </div>


        <!-- Display the two movies being compared -->
        <div class="row justify-content-center">
            <div class="col-md-5">
                <h3>{{ movie1.title }}</h3>
                {% comment %} <p><strong>Release Year:</strong> {{ movie1.release_date|date:"Y" }}</p>
                <p><strong>Overview:</strong> {{ movie1.overview }}</p> {% endcomment %}
                
                <img src="https://image.tmdb.org/t/p/w300/{{ movie1.poster_path }}" alt="Poster for {{ movie1.title }}">

                <!-- Button to choose movie1 as the better movie (film_a) -->
                <form method="POST" action="{% url 'compare_movies' %}">
                    {% csrf_token %}
                    <input type="hidden" name="selected_movie" value="{{ movie1.id }}">
                    <button type="submit" class="btn btn-primary mt-3">Choose {{ movie1.title }}</button>
                </form>
            </div>

            <div class="col-md-5">
                <h3>{{ movie2.title }}</h3>
                {% comment %} <p><strong>Release Year:</strong> {{ movie2.release_date|date:"Y" }}</p>
                <p><strong>Overview:</strong> {{ movie2.overview }}</p> {% endcomment %}
                <img src="https://image.tmdb.org/t/p/w300/{{ movie2.poster_path }}" alt="Poster for {{ movie2.title }}">

                <!-- Button to choose movie2 as the better movie (film_b) -->
                <form method="POST" action="{% url 'compare_movies' %}">
                    {% csrf_token %}
                    <input type="hidden" name="selected_movie" value="{{ movie2.id }}">
                    <button type="submit" class="btn btn-primary mt-3">Choose {{ movie2.title }}</button>
                </form>
            </div>
        </div>

        <!-- Can't Decide button -->
        <div class="mt-4">
            <form method="POST" action="{% url 'compare_movies' %}">
                {% csrf_token %}
                <input type="hidden" name="selected_movie" value="can't_decide">
                <button type="submit" class="btn btn-warning">Can't Decide</button>
            </form>
        </div>



    </div>
{% endblock %}