{% extends 'filmproject/base_template.html' %}
{% load static %}
{% block content %}

  <h1>Mountain Lion Movies</h1>
  <div class="page-margin">
  <h2>What are you in the mood for?</h2>
  <h3>Find movies and shows based on any story you love!</h3>
    <p>At Mountain Lion Movies, we understand the challenge of finding the perfect 
    movie to match your mood or personal tastes. Our platform is designed with simplicity 
    and ease in mind, helping you discover movies that align with your unique preferences.</p>
    <p>Powered by a <strong>cutting-edge recommendation engine</strong>, Mountain Lion Movies takes into account 
    a variety of factors, including:</p>
    <ul>
      <li><strong>Movie Genres</strong> you love</li>
      <li><strong>Favorite Actors</strong> and directors</li>
      <li><strong>User Ratings</strong> from the community</li>
      <li><strong>Your Viewing History</strong> for personalized picks</li>
    </ul>

  <h2>CURRENT_YEAR Popular Movies</h2>
  <p>display carosel of popular movies</p>

  <h2>Discover</h2>
  <p>display carosel of popular movies</p>

  <h2>New</h2>
  <p>display carosel of popular movies</p>

  {% comment %} IF LOGGED IN... {% endcomment %}
  <h2>Movies For You!</h2>
  <p>display carosel of user movies recommendations</p>



  </div> <!-- end page-margin divider -->

{% endblock %}
