{% extends 'filmproject/base_template.html' %}
{% load static %}
{% block content %}

  <div class="text-center">
      <img style="width: 20%; margin-top: 30px;" src="{% static 'images/mountain_lion.png' %}" class="img-fluid">
  </div>
  {% comment %} <h1>Mountain Lion Movies</h1> {% endcomment %}
  <h2 style="text-align: center; margin-top: 30px;" >Find movies and shows based on any story you love!</h2>
  <div class="page-margin">
    <h3 style="text-align: center; margin-top: 30px;">At Mountain Lion Movies, we understand the challenge of finding the perfect 
          movie to match your mood or personal tastes. Our platform is designed with simplicity 
          and ease in mind, helping you discover movies that align with your unique preferences.</h3>
      
      <div style="margin-top: 50px;" class="row justify-content-center">
        <div class="col-md-6">
          <h3 style="color: #ffb700; margin-top: 40px;">Powered by a <strong>cutting-edge recommendation engine</strong>, Mountain Lion Movies takes into account 
          a variety of factors, including:</h3>
        </div>
        <div class="col-md-6">
            <ul class="list-unstyled fade-in-list">
                <li><div style="background-color: #cfb87c;" class="custom-container"><strong>Movie Genres</strong> you love</div></li>
                <li><div style="background-color: #e3bf65;" class="custom-container"><strong>Favorite Actors</strong> and directors</div></li>
                <li><div style="background-color: #f3bc2f;" class="custom-container"><strong>User Ratings</strong> from the community</div></li>
                <li><div style="background-color: #ffb700;" class="custom-container"><strong>Your Viewing History</strong> for personalized picks</div></li>
            </ul>
        </div>

      </div>

  {% comment %} IF LOGGED IN... {% endcomment %}

  <h2>Recommended Movies For You!</h2>
  {% if recommendations %}
  <div class="scroll-container" style="overflow-x: auto; white-space: nowrap;">
    <div class="carousel-inner">
      {% for rec in recommendations %}
      <div class="d-inline-block {% if forloop.first %}active{% endif %}" style="width: 15rem; margin: 0 10px;">
        <div class="card h-100">
          {% if rec.film.poster_path %}
          <img src="https://image.tmdb.org/t/p/w500{{ rec.film.poster_path }}" class="card-img-top img-fluid" alt="{{ rec.film.title }}" style="height: auto; max-width: 100%;">
          {% else %}
              <img src="{% static 'images/default_movie_poster.jpg' %}" class="card-img-top img-fluid" alt="{{ rec.film.title }}" style="height: auto; max-width: 100%;">
              {% endif %}
              <div class="card-body text-center">
                  <h5 class="card-title">{{ rec.film.title }}</h5>
                  <p class="card-text">Recommended: {{ rec.recommendation_score }}</p>
              </div>
          </div>
      </div>
      {% empty %}
          <p>No personalized recommendations available at the moment. Watch or rate more movies to improve your recommendations!</p>
      {% endfor %}
  </div>
  {% else %}
      <p>No personalized recommendations available at the moment. Watch or rate more movies to improve your recommendations!.</p>
  {% endif %}
</div>

  <h2 style="margin-top: 50px;">Popular Movies</h2>
  <p>display carosel of popular movies</p>

  <h2>Discover</h2>
  <p>display carosel of popular movies</p>

  <h2>New</h2>
  <p>display carosel of popular movies</p>





  </div> <!-- end page-margin divider -->

  <script>
document.addEventListener('DOMContentLoaded', function () {
    const listItems = document.querySelectorAll('.fade-in-list li');
    
    listItems.forEach((li, index) => {
        setTimeout(() => {
            li.classList.add('fade-in');
        }, index * 500); // 0.5 seconds delay for each item
    });
});

  </script>


{% endblock %}
