{% extends 'filmproject/base_template.html' %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div style="width: 70%;">
        <h1 style="color: #cfb87c;" class="mb-4 text-center">Reset Password</h1>

        <!-- Error handling block for email field -->
        {% if form.email.errors %}
            <div class="alert alert-danger" style="background-color: #ff4d4d; color: white; border: 2px solid #cc0000; padding: 10px; box-shadow: 0 0 10px rgba(204, 0, 0, 0.3); font-size: medium; margin-bottom: 15px;">
                <ul class="mb-0" style="list-style-type: none; padding-left: 0;">
                    {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <!-- Form for email input -->
        <form method="post" class="w-100 p-4" style="border-radius: 10px;">
            {% csrf_token %}
            <div class="form-group mb-3">
                <input type="email" name="email" class="form-control form-control-lg" id="email" placeholder="Enter Email" value="{{ form.email.value|default_if_none:'' }}">
            </div>

            <!-- Submit button -->
            <button type="submit" style="background-color: #cfb87c; border: none;" class="btn btn-primary btn-lg w-100 mt-3">Reset Password</button>
        </form>
    </div>
</div>

{% endblock %}
