{% extends 'filmproject/base_template.html' %}
{% load static %} <!-- Load static files -->
{% block content %}
  <div class="container mt-5">
    <h1>Query for Movies</h1>
    <div class="mb-3">
      <label for="searchInput" class="form-label">Enter Search Query:</label>
      <input type="string" id="searchInput" class="form-control" placeholder="string" />
    </div>
    <button id="fetchButton" class="btn btn-primary">Fetch Movies</button>
    <div id="results" class="mt-3"></div>
  </div>

  <script src="../../static/scripts/movie_search.js"></script>
{% endblock %}
