{% extends 'filmproject/base_template.html' %}
{% load static %} <!-- Load static files -->
{% block content %}
  <div class="container mt-5">
    <h1>Search</h1>
    <div class="mb-3">
      <label for="search_input" class="form-label">Enter Search Query:</label>
      <input type="string" id="search_input" class="form-control" placeholder="string" />
    </div>
    <button id="search_button" class="btn btn-primary">Fetch Movies</button>
  </div>
  <div class="container text-center">
    <div class="row row-cols-3" id="results"></div>
  </div>

  <script type="module" src="../../static/scripts/search.js"></script>
{% endblock %}
