<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">
  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="6"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="7"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="8"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="9"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="10"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="11"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="12"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="13"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="14"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="15"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="16"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="17"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="18"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="19"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h5 id="movie_title0" class="card-title">test</h5>
      <img id="movie_poster0" class="d-block w-100" src="https://plus.unsplash.com/premium_photo-1707146618551-3770c4714023?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw2fHx8ZW58MHx8fHx8" alt="First slide" />
    </div>
  </div>

  <div class="carousel-item">
    <h5 id="movie_title1" class="card-title">test</h5>
    <img id="movie_poster1" style="max-width: 100%;" class="d-block w-100" src="https://images.unsplash.com/photo-1730716604954-ccfd2b31806a?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxMnx8fGVufDB8fHx8fA%3D%3D" alt="Second slide" />
  </div>

  <div class="carousel-item">
    <h5 id="movie_title2" class="card-title">test</h5>
    <img id="movie_poster2" style="max-width: 100%;" class="d-block w-100" src="https://images.unsplash.com/photo-1730454947290-492fb500eabf?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzMHx8fGVufDB8fHx8fA%3D%3D" alt="Third slide" />
  </div>

  <div class="carousel-item">
    <h5 id="movie_title3" class="card-title">test</h5>
    <img id="movie_poster3" style="max-width: 100%;" class="d-block w-100" src="https://images.unsplash.com/photo-1730454947290-492fb500eabf?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzMHx8fGVufDB8fHx8fA%3D%3D" alt="Third slide" />
  </div>

  <div class="carousel-item">
    <h5 id="movie_title4" class="card-title">test</h5>
    <img id="movie_poster4" style="max-width: 100%;" class="d-block w-100" src="https://images.unsplash.com/photo-1730454947290-492fb500eabf?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzMHx8fGVufDB8fHx8fA%3D%3D" alt="Third slide" />
  </div>

  <div class="carousel-item active">
    <h5 id="movie_title5" class="card-title">test</h5>
    <img id="movie_poster5" class="d-block w-100" src="https://plus.unsplash.com/premium_photo-1707146618551-3770c4714023?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw2fHx8ZW58MHx8fHx8" alt="First slide" />
  </div>

  <div class="carousel-item">
    <h5 id="movie_title6" class="card-title">test</h5>
    <img id="movie_poster6" style="max-width: 100%;" class="d-block w-100" src="https://images.unsplash.com/photo-1730716604954-ccfd2b31806a?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxMnx8fGVufDB8fHx8fA%3D%3D" alt="Second slide" />
  </div>

  <div class="carousel-item">
    <h5 id="movie_title7" class="card-title">test</h5>
    <img id="movie_poster7" style="max-width: 100%;" class="d-block w-100" src="https://images.unsplash.com/photo-1730454947290-492fb500eabf?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzMHx8fGVufDB8fHx8fA%3D%3D" alt="Third slide" />
  </div>

  <div class="carousel-item">
    <h5 id="movie_title8" class="card-title">test</h5>
    <img id="movie_poster8" style="max-width: 100%;" class="d-block w-100" src="https://images.unsplash.com/photo-1730454947290-492fb500eabf?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzMHx8fGVufDB8fHx8fA%3D%3D" alt="Third slide" />
  </div>

  <div class="carousel-item">
    <h5 id="movie_title9" class="card-title">test</h5>
    <img id="movie_poster9" style="max-width: 100%;" class="d-block w-100" src="https://images.unsplash.com/photo-1730454947290-492fb500eabf?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzMHx8fGVufDB8fHx8fA%3D%3D" alt="Third slide" />
  </div>

  <div class="carousel-item active">
    <h5 id="movie_title10" class="card-title">test</h5>
    <img id="movie_poster10" class="d-block w-100" src="https://plus.unsplash.com/premium_photo-1707146618551-3770c4714023?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw2fHx8ZW58MHx8fHx8" alt="First slide" />
  </div>

  <div class="carousel-item">
    <h5 id="movie_title11" class="card-title">test</h5>
    <img id="movie_poster11" style="max-width: 100%;" class="d-block w-100" src="https://images.unsplash.com/photo-1730716604954-ccfd2b31806a?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxMnx8fGVufDB8fHx8fA%3D%3D" alt="Second slide" />
  </div>

  <div class="carousel-item">
    <h5 id="movie_title12" class="card-title">test</h5>
    <img id="movie_poster12" style="max-width: 100%;" class="d-block w-100" src="https://images.unsplash.com/photo-1730454947290-492fb500eabf?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzMHx8fGVufDB8fHx8fA%3D%3D" alt="Third slide" />
  </div>

  <div class="carousel-item">
    <h5 id="movie_title13" class="card-title">test</h5>
    <img id="movie_poster13" style="max-width: 100%;" class="d-block w-100" src="https://images.unsplash.com/photo-1730454947290-492fb500eabf?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzMHx8fGVufDB8fHx8fA%3D%3D" alt="Third slide" />
  </div>

  <div class="carousel-item">
    <h5 id="movie_title14" class="card-title">test</h5>
    <img id="movie_poster14" style="max-width: 100%;" class="d-block w-100" src="https://images.unsplash.com/photo-1730454947290-492fb500eabf?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzMHx8fGVufDB8fHx8fA%3D%3D" alt="Third slide" />
  </div>

  <div class="carousel-item active">
    <h5 id="movie_title15" class="card-title">test</h5>
    <img id="movie_poster15" class="d-block w-100" src="https://plus.unsplash.com/premium_photo-1707146618551-3770c4714023?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw2fHx8ZW58MHx8fHx8" alt="First slide" />
  </div>

  <div class="carousel-item">
    <h5 id="movie_title16" class="card-title">test</h5>
    <img id="movie_poster16" style="max-width: 100%;" class="d-block w-100" src="https://images.unsplash.com/photo-1730716604954-ccfd2b31806a?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxMnx8fGVufDB8fHx8fA%3D%3D" alt="Second slide" />
  </div>

  <div class="carousel-item">
    <h5 id="movie_title17" class="card-title">test</h5>
    <img id="movie_poster17" style="max-width: 100%;" class="d-block w-100" src="https://images.unsplash.com/photo-1730454947290-492fb500eabf?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzMHx8fGVufDB8fHx8fA%3D%3D" alt="Third slide" />
  </div>

  <div class="carousel-item">
    <h5 id="movie_title18" class="card-title">test</h5>
    <img id="movie_poster18" style="max-width: 100%;" class="d-block w-100" src="https://images.unsplash.com/photo-1730454947290-492fb500eabf?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzMHx8fGVufDB8fHx8fA%3D%3D" alt="Third slide" />
  </div>

  <div class="carousel-item">
    <h5 id="movie_title19" class="card-title">test</h5>
    <img id="movie_poster19" style="max-width: 100%;" class="d-block w-100" src="https://images.unsplash.com/photo-1730454947290-492fb500eabf?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzMHx8fGVufDB8fHx8fA%3D%3D" alt="Third slide" />
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span></button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next"><span class="carousel-control-next-icon"></span></button>
</div>
