{% extends 'filmproject/base_template.html' %}

{% block content %}
<h1>Viewer List</h1>

{% if viewer_list %}
<div class="container">
    <div class="row">
        {% for viewer in viewer_list %}
        <div class="col-md-4 viewer-container">
            <a href="{{ viewer.get_absolute_url }}" class="viewer-card">  <!-- Wrap the entire card in an anchor -->
                <h5 class="viewer-name">{{ viewer.name }}</h5>  <!-- Add a class for the name -->
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<p>There are no viewers registered.</p>
{% endif %}
{% endblock %}
