{% extends 'filmproject/base_template.html' %}
{% block content %}
<h1>
    Viewer: {{ viewer.name }}
</h1>

<!-- Watchlist -->
<p>
    <strong>Watchlist:</strong>
</p>
{% if watchlist %}
<ul>
    {% for film in watchlist %}
    <li>
        <a href="{{ film.get_absolute_url }}">
            {{ film.title }}
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>This viewer has no films in their watchlist.</p>
{% endif %}

<!-- Seen List -->
<p>
    <strong>Seen Films (Sorted by Your Rating):</strong>
</p>
{% if seen_films %}
<ul>
    {% for item in seen_films %}
    <li>
        <a href="{{ item.film.get_absolute_url }}">
            {{ item.film.title }}
        </a> - Your Rating: {{ item.user_rating|floatformat:2 }}
        
    </li>
    {% endfor %}
</ul>
{% else %}
<p>This viewer has not rated any seen films yet.</p>
{% endif %}
{% endblock %}


<!--Make viewer list more appealig looking look into bootstarap card-->